.SCT{
    padding: 8px;
    margin: 20px;
    margin-bottom: 70px;
}

.explore{
    padding: 8px;
    margin: 20px;
}

.text{
    font-weight: 700;
    font-size: 80px;
}

.caption{
    font-weight: 500;
    font-size: 28px;
    color: #694F35;
    margin-bottom: 100px;
}

.bx{
    background-color: #46583D;
}